<h1><%= @character.name%></h1>
<h2>My Badges</h2>
<%= link_to 'Award New Badge', "#{@character.id}/badges/new" %>
<% @badges.each do |badge| %>
  <div class='badge-container'>
    <h4><%= badge[:name] %></h4>
    <%= link_to 'Accept Badge', badge[:accept_badge_url]  %>
    <div>
      <%= link_to image_tag ( badge[:image_url] )  %>
    </div>
  </div>
<% end %>
<% if @badges.length < 1 %>
  <p>This character hasn't earned any badges yet.</p>
<% end %>
