<!DOCTYPE html>
<html>
  <head>
    <title>CredlyCodeChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <ul>
      <li><a href="/characters">Home</a></li>
      <li>
        <%= link_to 'Logout', logout_path, method: "delete"  %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
